{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container">

    <div class="row">

        <div class="col-md-12">
            <h1>Contact information</h1>
        </div>

        <div class="col-md-6">

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="MenuContactActions" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="MenuContactActions">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/contacts/{{contact.id}}/edit">Edit contact</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/contacts/">Contact list</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/contacts/add/">New contact</a></li>
                </ul>
            </div>

        </div>

        <div class="col-md-6">

            <div class="jumbotron">
                <h1>{{contact.first_name}} {{contact.last_name}}</h1>
                <p>Created on {{contact.create_date }}</p>
                <p class="btn btn-primary btn-lg" role="button">{{contact.position.name}}</p>
            </div>

        </div>

    </div>
</div>
